##mako
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
%>

<%block name="pagetitle">${_("Veripass")}</%block>
<section class="container">
  <section role="main" class="content-primary">
      %if pt_dashboard_url:
          <h1>Veripass Dashboard</h1>
          <iframe src="${pt_dashboard_url}" height="1280" style="width:100%"></iframe>
      %else:
          <h3 class="text-danger">You have not enabled the proctored exam in your platform. Please check the configuration.</h3>
      %endif
  </section>
</section>
